@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
  --primary-color: #fa6000; /* Orange */
  --secondary-color: #333;  /* Darker color for contrast */
  --glass-bg: rgba(255, 255, 255, 0.2); /* Background color for glassmorphism */
  --glass-border: rgba(255, 255, 255, 0.3); /* Border color for glassmorphism */
  --glass-shadow: rgba(0, 0, 0, 0.1); /* Shadow for glassmorphism */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  background-color: var(--primary-color);
  padding: 30px 5px;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}

.faq-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.faq {
  background: var(--glass-bg);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border: 1px solid var(--glass-border);
  border-radius: 20px;
  margin: 20px 0;
  padding: 25px 40px;
  position: relative;
  box-shadow: 0px 4px 10px var(--glass-shadow);
  overflow: hidden;
  transition: all 0.4s ease;
  color: var(--secondary-color);
}

.faq.active {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: var(--primary-color);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.faq.active::before {
  content: '\f059'; /* FontAwesome chevron up icon */
  font-family: 'Font Awesome 6 Free';
  color: var(--primary-color);
  font-size: 5rem;
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 0;
  opacity: 0.15;
}

.faq-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.faq.active .faq-title {
  color: var(--primary-color);
}

.faq-text {
  display: none;
  margin: 20px 0 0;
  line-height: 1.6;
  font-size: 1rem;
  padding: 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  transition: color 0.3s ease;
}

.faq.active .faq-toggle {
  color: var(--primary-color);
}

.faq-toggle .fa-xmark {
  display: none;
}

.faq.active .faq-toggle .fa-xmark {
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}
